@page "/AllStaff"
@using vc1.Models;

@inject vc1.RepositoryPatterns.Interfaces.IStaff _Staff


<div style="padding:20px;margin:20px;border:solid;border-color:black;border-radius:20px">
    <MudSimpleTable Style="overflow-x: auto;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date Of Birth</th>
                <th>Phone Number</th>
                <th>Department</th>
                <th>Position</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ListOfStaff)
            {
                <tr>
                    <td>@item.EmpName</td>
                    <td>@item.DateOfBirth</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Department</td>
                    <td>@item.Position</td>
                    <td>@item.Salary</td>

                </tr>
            }
        </tbody>
    </MudSimpleTable>

</div>


@code {
    public List<StaffModel> ListOfStaff { get; set; } = new List<StaffModel>();


    protected override async Task OnInitializedAsync()
    {
        ListOfStaff = await _Staff.GetAllStaff();
    }


    private async Task GetData()
    {
        ListOfStaff = await _Staff.GetAllStaff();
    }

}
